body
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 16px;
    /* margin:0;
    padding:0; 
    width:100%;*/
}
a{
    color:white;
    /* text-decoration:none */
}
header
{
    color:#fff;
    text-align: center;
    padding: 1rem 2%; 
    /*border:2px dashed red;*/
    /*padding: 1rem 2% 1rem 2%;    */
    /*  1rem :  haut et bas 
        2% :  droite et gauche
    */
}

header h1
{
    font-size: 5em;
}

header p
{
    color:rgb(0, 0, 0);
}
body nav div div ul li{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18px;

}
header {
    background-color: blue;
}
#contact{
    background-color: blue;
}
nav{
    background-color: aqua;
    color: black;
}
footer{
    background-color: aqua;
}
a:hover{
    background-color: darkmagentaS;
}
#about{
    background-color: chartreuse;
    color: purple;
}
#competence{
    background-color: darkred;
    color:greenyellow;
    margin:auto
}
#accomplisement{
    padding: 0px;
    color: darkorchid;
    background-color: lawngreen;
}

